---

---

<article class="w-11/12 h-[410px] max-w-[545px] mb-10">
  <div class="w-full">
    <img src="/Images/smarthome.jpg" class="rounded-xl" alt="" />
  </div>
  <p class="text-[#828282] text-xs font-light mt-3 md:text-sm">Full stack application</p>
  <p class="text-[#333] font-medium text-lg md:text-2xl">Smart home dashboard</p>
</article>
