---
import CardInput from "../Cards/CardInput.astro";
---

<section id="Home" class="w-full max-w-6xl grid grid-cols-1 place-items-center mt-24 md:mt-[180px] ">
  <article class="w-3/4 max-w-xl lg:mr-32">
    <p class="text-xs text-[#2D9CDB] font-medium md:text-base">
      Unhappy with your website?
    </p>
    <h1
      class="text-2xl mt-2 text-[#333] font-medium md:text-3xl md:mt-4 lg:text-5xl lg:leading-[70px] "
    >
      We create beautiful and fast web services
    </h1>
  </article>

  <div class="w-11/12 h-32 rounded-lg mt-3 lg:w-full md:h-60 md:mt-10 lg:h-80 ">
    <img
      class="w-full h-full object-cover rounded-lg"
      src="/Images/heroImage.jpg"
      alt=""
    />
  </div>

  <article class="w-3/4 max-w-lg  lg:mr-32">
    <h2
      class="w-4/5 text-[#333] font-medium text-2xl mt-6 md:text-3xl md:mt-10 lg:text-5xl lg:leading-[70px]"
    >
      Story, emotion and purpose
    </h2>

    <p class="text-[#4F4F4F] font-normal text-xs mt-4 mb-10 md:text-lg lg:w-3/4 lg:mt-10">
      We help transform your ideas into real world applications that will
      outperform your toughest competition and help you achieve your strategic
      goals in short period of time.
    </p>
    <CardInput />
  </article>
</section>
