---
import CardProject from "../Cards/CardProject.astro";
---

<section
  class="w-full max-w-6xl flex flex-col items-center mt-24 lg:mt-20 md:items-start"
>
  <h3
    class="w-3/4 max-w-md text-2xl mt-2 text-[#333] font-semibold md:text-3xl md:mt-4 lg:text-4xl lg:leading-[50px]"
  >
    Good design means good business
  </h3>

  <div
    class="w-full mt-16 grid grid-cols-1 place-items-center md:grid-cols-2 "
  >
    <article class="w-11/12  max-w-[545px] mb-10">
      <div class="w-full">
        <img src="/Images/smarthome.jpg" class="rounded-xl" alt="" />
      </div>
      <p class="text-[#828282] text-xs font-light mt-3 md:text-sm">
        Full stack application
      </p>
      <p class="text-[#333] font-medium text-lg md:text-2xl">
        Smart home dashboard
      </p>
    </article>

    <article class="w-11/12 max-w-[545px] mb-10">
      <div class="w-full">
        <img src="/Images/onboard.png" class="rounded-xl" alt="" />
      </div>
      <p class="text-[#828282] text-xs font-light mt-3 md:text-sm">
        UX/UI design
      </p>
      <p class="text-[#333] font-medium text-lg md:text-2xl">
        Onboard application
      </p>
    </article>
    <article class="w-11/12  max-w-[545px] mb-10">
      <div class="w-full">
        <img src="/Images/booking.png" class="rounded-xl" alt="" />
      </div>
      <p class="text-[#828282] text-xs font-light mt-3 md:text-sm">
        Mobile application
      </p>
      <p class="text-[#333] font-medium text-lg md:text-2xl">
        Booking system
      </p>
    </article>
    <article class="w-11/12 max-w-[545px] mb-10">
      <div class="w-full">
        <img src="/Images/juice-product.png" class="rounded-xl" alt="" />
      </div>
      <p class="text-[#828282] text-xs font-light mt-3 md:text-sm">
        Front End applicati on
      </p>
      <p class="text-[#333] font-medium text-lg md:text-2xl">
        Juice product homepage
      </p>
    </article>
  </div>
</section>
