<section
  class="w-full max-w-6xl flex flex-col items-center mt-24 lg:mt-20 lg:flex-row lg:items-center lg:justify-between"
>
  <article class="w-11/12 mt-30 lg:h-[260px] lg:w-[300px]">
    <span class="text-[#EB5757] text-lg font-medium mb-3">Meet the team</span>
    <h4
      class="w-11/12 max-w-sm text-4xl text-[#333] font-medium leading-[58px]"
    >
      We are chilled and a laidback team
    </h4>
    <p class="text-[#4F4F4F] text-base font-normal w-[280px] mt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </article>

  <section
    class="w-11/12 mt-7 grid grid-cols-2 grid-rows-2 gap-4 place-items-center md:gap-0 justify-items-start lg:w-3/4 max-w-[700px]"
  >
    <img
      src="/Images/person3.png"
      class="w-44 h-[155px] rounded-[24px] col-start-1 row-span-2 md:h-[320px] md:w-[320px]"
      alt=""
    />
    <img
      src="/Images/person1.png"
      class="w-36 h-36 rounded-[24px] md:h-[260px] md:w-[260px]"
      alt=""
    />
    <img
      src="/Images/person2.png"
      class="w-40 h-40 col-start-2 row-start-2 rounded-[24px] md:h-[300px] md:w-[290px]"
      alt=""
    />
  </section>
</section>
