---
import Layout from '../layouts/Layout.astro';
import ServicesSection from '../components/Sections/ServicesSection.astro';
import HeroSection from '../components/Sections/HeroSection.astro';
import OurWorksSection from '../components/Sections/OurWorksSection.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-full flex flex-col items-center">
		<HeroSection/>
		<ServicesSection/>	
		<OurWorksSection/>
	</main>
</Layout>

